@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Epilogue&family=Montserrat&family=Nunito&family=Poppins&family=Roboto&family=Tektur&display=swap');

@font-face {
  font-family: 'Monaco';
  src: url('/fonts/monaco.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.font-roboto {
  font-family: 'Roboto', 'sans-serif';
}
.font-tektur {
  font-family: 'Tektur', 'sans-serif';
}
.font-epilogue {
  font-family: 'Epilogue', 'sans-serif';
}
.font-barlow {
  font-family: 'Barlow', 'sans-serif';
}
.font-montserrat {
  font-family: 'Montserrat', 'sans-serif';
}
.font-nunito {
  font-family: 'Nunito', 'sans-serif';
}
.font-poppins {
  font-family: 'Poppins', 'sans-serif';
}

.font-monaco {
  font-family: 'Monaco', 'sans-serif';
}

.bg-main {
  background-image: url('/src/assets/gifs/stars.gif');
  opacity: 1;
}

.bg-about {
  background-image: url('/src/assets/images/nebula.jpeg');
}

.bg-projects {
  background-image: url('/src/assets/images/space.jpeg');
}

.bg-skills {
  background-image: url('/src/assets/images/space2.jpeg');
}

.bg-contact {
  background-image: url('/src/assets/images/linen.jpeg');
}

@tailwind base;
@tailwind components;
@tailwind utilities;
