@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Epilogue&family=Montserrat&family=Nunito&family=Poppins&family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
}

.font-roboto {
  font-family: 'Roboto', 'sans-serif';
}
.font-epilogue {
  font-family: 'Epilogue', 'sans-serif';
}
.font-barlow {
  font-family: 'Barlow', 'sans-serif';
}
.font-montserrat {
  font-family: 'Montserrat', 'sans-serif';
}
.font-nunito {
  font-family: 'Nunito', 'sans-serif';
}
.font-poppins {
  font-family: 'Poppins', 'sans-serif';
}

@tailwind base;
@tailwind components;
@tailwind utilities;
